---
import type { Job } from '~/types/job';

type Props = {
    jobs: Job[];
}
const props = Astro.props as Props;
const {jobs} = props;
---

<div>
    {jobs.map((job) => (
        <div>{job.jobTitle}</div>
        <div>{job.company}</div>
        <div>{job.date}</div>
        <div>{job.link}</div>
        <div>{job.linkText}</div>

    ))}
</div>




