---
import type { Job } from '~/types/job';

type Props = {
    jobs: Job[];
}
const props = Astro.props as Props;
const {jobs} = props;
---

<div class="">
    {jobs.map((job) => (
        <div class="flex md:gap-3 mb-10">
            {/* icon */}
            <div class="flex flex-col items-center mr-3">
                <div class="w-9 h-9">
                    <img src="/images/work-svgrepo-com.svg" alt="Brief Case Icon" class="w-full h-full px-1 rounded-full border-2 aspect-square object-contain" />
                </div>
                <div class="w-px h-full bg-black/10"></div>
            </div>

            {/* content */}
            <div class="flex flex-col">
                <div class="font-semibold sm:text-2xl text-xl mb-1">{job.jobTitle}</div>
                <div class="sm:text-2xl text-xl mb-2">{job.company}</div>
                <div class="mb-2">{job.date}</div>
                {job.jobDescriptions && (
                    <ul class="sm:text-lg text-gray-700 font-extralight">{job.jobDescriptions.map((item) => (
                        <li>{item}</li>
                    ))}</ul>
                )}
                {job.linkText && (<div class="sm:text-lg text-gray-700 font-extralight">
                    Check out the site: 
                    <a href={job.link} target="_blank" rel="noopener noreferrer" class="text-blue-800 font-normal underline">{job.linkText}</a>
                </div>)}
                {job.isProject && (<div class="sm:text-lg text-gray-700 font-extralight">
                    Check out the projects: 
                    <a href={job.link} class="text-blue-800 font-normal underline">Projects</a>
                </div>)}
            </div>
            
            
        </div>

    ))}
<div class="text-center font-light md:text-xl italic">For more details, please visit <a href="https://www.linkedin.com/in/angela-olovson/" target="_blank" rel="noopener noreferrer" class="text-blue-800 font-normal underline">LinkedIn</a></div>
</div>




