---
import type { Job } from '~/types/job';

type Props = {
    jobs: Job[];
}
const props = Astro.props as Props;
const {jobs} = props;
---

<div class="">
    {jobs.map((job) => (
        <div class="mb-10">
            <div class="font-semibold sm:text-2xl text-xl mb-1">{job.jobTitle}</div>
            <div class="sm:text-2xl text-xl mb-2">{job.company}</div>
            <div class="mb-2">{job.date}</div>
            {job.jobDescriptions && (
                <ul class="sm:text-lg text-gray-700 font-extralight">{job.jobDescriptions.map((item) => (
                    <li>{item}</li>
                ))}</ul>
            )}
            {job.linkText && (<div class="sm:text-lg text-gray-700 font-extralight">
                Check out the site: 
                <a href={job.link} target="_blank" rel="noopener noreferrer" class="text-blue-800 font-normal underline">{job.linkText}</a>
            </div>)}
            {job.isProject && (<div class="sm:text-lg text-gray-700 font-extralight">
                Check out the projects: 
                <a href={job.link} class="text-blue-800 font-normal underline">Projects</a>
            </div>)}
            
        </div>

    ))}
</div>




